:root {
  --primary-color: #ffffff;
  --secondary-color: #ffd000;
  --background-color: #000000;
  --secondary-background-color: #000c16;
  --button-background: #000000;
  --card-body-background: #000000;
  --primary-card-body-background: #002aff;
  --secondary-card-body-background: #000000;
  --card-hover-background: #7d7d7d; 
  --h1-color: white;
  --primary-h1-color: rgb(0, 0, 0);
  --secondary-h1-color: white;
  --h4-color:#0061B4;
  --h1-color:#ffbf00;
  --primary-p-color: #0188ff;
  --secondary-p-color: #0188ff;
  --h1-font-size: 3.8rem; 
  --p-font-size: 2.3rem;
  --1-font-size: 1.6rem;
  --secondary-p-font-size: 0.9rem;
}




body {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  background-color: var(--background-color) !important;
  color: white;
}
.navbar {
    background-color: var(--background-color);
  }

.hero {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  font-weight: 100;
  background-color: var(--background-color);
  padding: 50px 0;
  color: var(--h1-color);
}


.hero h1 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color:var(--primary-color);
  font-weight: 900;
  font-size: var(--h1-font-size);
  word-wrap: break-word; /* Ensure words break onto the next line */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal;
}

.hero p {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
color:var(--primary-color);
font-weight: 300;
font-size: var(--1-font-size);
word-wrap: break-word; /* Ensure words break onto the next line */
white-space: normal;
padding: 10px;
}

.btn-primary {
    background-color: var(--button-background);
    border: none;
  }
  nav.navbar-toggler-icon{
    color:white;
    background-color: white;;
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-pills{

  color: var(--background-color)
}



.nav-link .active{

  color: var(--background-color)
}
  .card-body {
    background-color: var(--card-body-background);
  }

  .card:hover {
    background-color: var(--card-hover-background);
}



.card-img {
  margin-bottom:-38px;
}



/*Landing page Highlights*/

/*partners and before footer*/



.partners {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  font-weight: 100;
  background-color: var(--primary-color);
  padding: 50px 0;
  color: var(--h1-color);
}


.partners h1 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color: var(--primary-h1-color);
  font-weight: 900;
  font-size: var(--h1-font-size);
  word-wrap: break-word; /* Ensure words break onto the next line */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal;
}


.partners h4 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color: var(--primary-p-color);
  font-weight: 900;
  font-size: small;
}


.partners {
  text-align: center;
  padding: 50px 20px;
}
.partners h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.partner-card {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-p-color);
  border-radius: 10px;
  transition: transform 0.3s;
}

.partner-card1 {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-card-body-background);
  border-radius: 10px;
  transition: transform 0.3s;
}

.partner-card2 {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  padding:20px;
  justify-content: center;
  align-items: center;
  background-color:var(--background-color);
  border-radius: 10px;
  transition: transform 0.3s;
}
.partner-card:hover {
  transform: scale(1.05);
}
.partner-card img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -50px;
}



.partner-card p {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
margin-top: -50px;
padding: 10px;
font-weight: 500;
}


.partner-card1 p {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  margin-top: -50px;
  padding: 10px;
  font-weight: 500;
  }

  .partner-card2 p {
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
    margin-top: -50px;
    padding: 10px;
    font-weight: 500;
    }




.partner-card1:hover {
  transform: scale(1.05);
}
.partner-card1 img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -50px;
}


.partner-card2:hover {
  transform: scale(1.05);
}
.partner-card2 img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -50px;
}



.partners h1 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color:var(--background-color);
  font-weight: 900;
  font-size: var(--h1-font-size);
  word-wrap: break-word; /* Ensure words break onto the next line */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal;
}
.overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  color: #000;
}


.overlay2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  color: #000;
}


.image-overlay {
  position: relative;
  text-align: center;
  margin-top: -100px; /* Adjust as needed to overlap the sections */
  z-index: 1; /* Ensure it overlays the sections */
}

.image-overlay img {
  width: 100%; /* Adjust as needed */
  height: auto;
  margin-top:100px;
  margin-bottom: -21px;
}



.image-overlay1 {
  position: relative;
  text-align: center;
  margin-top: -150px; /* Adjust as needed to overlap the sections */
  z-index: 1; /* Ensure it overlays the sections */
}

.image-overlay1 img {
  width: 100%; /* Adjust as needed */
  height: auto;
  margin-top:100px;
  margin-bottom: -21px;
}




.Reviews {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
font-weight: 100;
background-color:var(--secondary-color) !important;
padding: 50px 0;
} 


.Reviews h1 {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
color:var(--background-color);
font-weight: 900;
font-size: var(--h1-font-size);
word-wrap: break-word; /* Ensure words break onto the next line */
overflow-wrap: break-word; /* Ensure long words break and wrap */
white-space: normal;
}






.About {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
font-weight: 100;
background-color:rgb(255, 255, 255) !important;
padding: 50px 0;
text-align: right;

} 


.About h1 {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
color:var(--background-color);
font-weight: 900;
font-size: var(--h1-font-size);
word-wrap: break-word; /* Ensure words break onto the next line */
overflow-wrap: break-word; /* Ensure long words break and wrap */
white-space: normal;
}

.About h2 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color:var(--h1-color)!important;
  font-weight: 900;
  font-size: var(--p-font-size);
  word-wrap: break-word; /* Ensure words break onto the next line */
  overflow-wrap: break-word; /* Ensure long words break and wrap */
  white-space: normal;
  }

.About p {
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
color:var(--primary-color);
font-weight: 200;
padding: 20px;
font-size: var(--secondary-p-font-size);
word-wrap: break-word; /* Ensure words break onto the next line */
overflow-wrap: break-word; /* Ensure long words break and wrap */
white-space: normal;
}



.About .btn-primary {
  background-color: var(--h1-color);
  color: var(--background-color);
  border: none;
  align-self: center;
  margin-top: -10px;
  align-items: center;
  font-weight: 200;
}






.about-card {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-card-body-background);
  border-radius: 10px;
  transition: transform 0.3s;
}

.about-card-1 {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-card-body-background);
  border-radius: 10px;
  transition: transform 0.3s;
  padding: 20px;
  line-height: 0.1rem;
}
.about-card-2 {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-card-body-background);
  border-radius: 10px;
  transition: transform 0.3s;
  padding: 20px;
  line-height: 1.1rem;
}




.about-card-3 {
  height: 100%;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 5px;
}

.about-card-3 h2 {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  color:var(--primary-color);
  font-weight: 500;
  text-align: left;
  margin-left: 5px;
  margin-top: -40px;
  }


  .about-card-3 p {
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
    color:var(--primary-color);
    font-weight: 500;
    text-align: left;
    margin-left: -15px;
    }




    .about-card-3 img {
       height: 50px;
       width:100px;
      }






.Technologies{
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  font-weight: 100;
  background-color: var(--primary-card-body-background);
  padding: 50px 0;
  color: var(--h1-color);
  justify-content: center;
}


.Technologies h1{
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  font-weight: 100;
  color: var(--primary-color);
}




.self-help{
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
  font-weight: 100;
  background-color: var(--primary-color);
  padding: 50px 0;
  color: var(--h1-color);
  justify-content: center;
}





/*footer*/

.footer {
padding: 2rem 0;
text-align: center;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');
background-color: var(--background-color) !important;
color: white;
}
.footer-logo {
margin-bottom: 1rem;
}
.footer-contact {
margin-bottom: 1rem;
}
.social-icons {
display: flex;
justify-content: center;
gap: 1rem;
margin-bottom: 1rem;
}
.social-icon {
width: 2.5rem;
height: 2.5rem;
border-radius: 50%;
background-color: var(--primary-p-color);
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 1.25rem;
}
.social-icon:first-child {
background-color: #fff;
color: #000;
padding: 0.5rem 1rem;
border-radius: 20px;
}
.footer-links {
display: flex;
justify-content: center;
gap: 2rem;
margin-bottom: 1rem;
}
.footer-links a {
color: #fff;
text-decoration: none;
font-weight: bold;
}
.footer-bottom {
margin-top: 1rem;
border-top: 1px solid #fff;
padding-top: 1rem;
}



/* Add this CSS to your stylesheet */



.card-label {
position: absolute;
bottom: 10px;
left: 10px;
background-color: rgba(0, 0, 0, 0.7) !important;
color: white;
padding: 5px 10px;
border-radius: 50px;
font-size: 0.75rem;
}
.card-overlay {
position: absolute;
top: 10px;
left: 50%;
transform: translateX(-50%);
color: white !important;
font-size: 1.25rem;
}
.card-overlay2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0) !important;
  font-size: 1.25rem;
  }
.nav-pills .nav-link {
color: black !important;
}
.nav-pills .nav-link.active {
background-color: black !important;
color: white !important;
}







.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.no-gutters > [class*='col-'] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}